body {
    margin: 0;
    padding: 0;
    font-family: 'Tahoma', sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.toolbar {
    background-color: #c0c0c0;
    padding: 2px 5px;
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 #808080;
    font-size: 12px;
    display: flex;
    gap: 15px;
}

.address-bar {
    background-color: #c0c0c0;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    border-bottom: 2px solid #dfdfdf;
    box-shadow: 0 1px 0 #808080;
}

.address-bar input {
    flex-grow: 1;
    font-family: 'Tahoma', sans-serif;
    box-shadow: inset 1px 1px 0 #808080, inset -1px -1px 0 #fff;
    border: none;
    padding: 3px;
    background-color: #fff;
    color: #000;
}

.file-grid {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 1;
    background-color: #fff;
    overflow-y: auto;
}

.file-item {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 5px;
}

.file-item:active,
.file-item.selected {
    /* Le fameux effet de sélection bleu pointillé de Windows ! */
    background-color: #000080;
    color: #fff;
    outline: 1px dotted #fff;
}

.file-icon {
    font-size: 32px;
    margin-bottom: 5px;
}

.file-name {
    font-size: 11px;
    word-break: break-word;
}