html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* C'est le coup de marteau qui interdit tout scroll */
  background-color: #008080;
  /* On assure le fond vert partout */
}

/* Optionnel : On empêche de surligner le texte du bureau par erreur comme sur un vrai OS */
#root {
  user-select: none;
}

/* Rend la fenêtre géante quand on clique sur Agrandir */
.maximized {
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  /* On enlève 40px pour ne pas cacher la barre des tâches en bas */
  height: calc(100vh - 40px) !important;
  transform: none !important;
}